* {
    box-sizing: border-box;
}

body, #root {
    font-family: 'Inter', sans-serif;
    background: #F5F7FB;
}

.container {
    box-sizing: border-box;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 2em;
    min-height: 100%;
}

h1.title, .questions {
    font-family: 'Karla', sans-serif;
}

h1.title {
    font-weight: bold;
    color: #293264;
    font-size: 2rem;
    margin: 0.25em;
}

.questions {
    font-size: 1rem;
    color: #293264;
    max-width: 600px;
}

p.description {
    margin: 0.25em 0 1.25em 0;
    color: #293264;
}

.start-game {    
    color:white;
    background: #4D5B9E;
    border-radius: 8px;
    border: none;
    padding: 0.5em 2em;
    cursor: pointer;
    transform: scale(1);
    transition: transform 120ms;
}

.start-game:hover, .start-game:focus {
    transform: scale(1.1)
}

.question-container{
    width: 100%;
    padding-bottom: 1em;
    border-bottom: 1px solid #293264 
}

.options {
    border: 1px solid #4D5B9E;
    border-radius: 5px;
    color: #293264;;
    font-size: 0.625rem;
    background: none;
    cursor: pointer;
    font-weight: bold;
    padding: .5em 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.options:hover {
    box-shadow: 0 0 4px #293264;
}

.selected {
    background-color: #D6DBF5;
    color: #293264;
    border: none;
} 

.correct-answer {
    color: #293264;
    background: #94D7A2;
    cursor: not-allowed;
}

.incorrect-answer {
    background: #F8BCBC;
    color: #293264;
    cursor: not-allowed;
}

.disabled-answer {
    color: #4D5B9E;
    border-color: #4D5B9E;
    cursor: not-allowed;
}

.change-screen-btn{
    align-self: center;
    margin: 1em;
    background: #4D5B9E;
    border-radius: 10px;
    padding: 1em;
    color: white;
    border: none;
    transform: scale(1);
    transition: transform 120ms;
    cursor: pointer;
}

.change-screen-btn:hover {
    transform: scale(1.15);
}

.score-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

span {
    color: #293264;
    font-weight: bold;
}